<%=  stylesheet_link_tag 'tasks' %> 
<%= javascript_include_tag 'app/tasks.js' %>
<p>Create and assign tasks to people and view daily progress</p>
<%= link_to "All Tasks", tasks_project_path(@project), :remote => true %> | 
<%= link_to "My Tasks", tasks_project_path(:id => @project, :assigned_to => current_user.id),:remote => true %>
<span><%= link_to "Add a task", new_project_task_path(@project), :remote => true, :class => "action-link floatR" %></span>
<%#= form_tag url_for(:controller => 'projects', :action => 'tasks'), :remote => true, :method => :get do %>
  <%#= label_tag "assigned_to" %> 
  <%#= select_tag "assigned_to", options_from_collection_for_select(@project.users, "id", "name"), :id => 'assigned-to-dropdown' %>

  <%#= submit_tag "Filter Task" %>
<%# end %>
<div id="new-task"></div>
<div class="clear"></div>
<div class="tasks-container">
  <div class="task-grid tasks-first">
    <h1>Tasks To Do</h1>
    <ul class="tasks-list">
      <% if @tasks["to_do"] %>
        <% @tasks["to_do"].each_with_index do |task, index| %>
          <%=raw display_date_divider(task, @tasks["to_do"], index) %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="task-grid tasks-in-progress" id="tasks-in-progress">
    <h1>Tasks In Progress</h1>
    <ul class="tasks-in-progress-list">
      <% if @tasks["in_progress"] %>
        <% @tasks["in_progress"].each_with_index do |task, index| %>
          <%=raw display_date_divider(task, @tasks["in_progress"], index) %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="task-grid tasks-last">
    <h1>Tasks Completed</h1>
    <ul class="tasks-completed-list">
      <% if @tasks["completed"] %>
        <% @tasks["completed"].each_with_index do |task, index| %>
          <%=raw display_date_divider(task, @tasks["completed"], index) %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
