<%= stylesheet_link_tag 'tasks' %> 
<p>Create and assign tasks to people and view daily progress</p>
<%= link_to "Add a task", new_project_task_path(@project), :remote => true %>
<div id="test"></div>
<div class="tasks-container">
  <div class="task-grid tasks-first">
    <h1>Tasks To Do</h1>
    <ul class="tasks-list">
      <% if @tasks["To Do"] %>
        <% @tasks["To Do"].each do |task| %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="task-grid" id="tasks-in-progress">
    <h1>Tasks In Progress</h1>
    <ul class="tasks-in-progress-list">
      <% if @tasks["In Process"] %>
        <% @tasks["In Process"].each do |task| %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="task-grid tasks-last">
    <h1>Tasks Completed</h1>
    <ul class="tasks-completed-list">
      <% if @tasks["Completed"] %>
        <% @tasks["Completed"].each do |task| %>
          <li>
            <%= render :partial => 'tasks/task', :locals => {:task => task} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
