<table class="compact-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <% if @project.users.empty? %>
      <tr colspan='5'><td>No people have been assigned to this project</td></tr>
    <% else %>
      <% @project.users.each do |user| %>
        <tr class="<%= cycle("odd","even")%>">
          <td><%= user.name %></td>
          <td><%= user.title %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.department %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


</table>

<!---<div id="project-people">
  <% @project.users.each do |user| %>
    <%= check_box_tag "user[#{user.id}]" %>
    <%= label_tag "user[#{user.id}]", user.name %><br/>
  <% end %>
  <%= submit_tag "Schedule Meeting" %>
</div>
--->
