<table class="compact-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <% @project.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.department %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</table>

<!---<div id="project-people">
  <% @project.users.each do |user| %>
    <%= check_box_tag "user[#{user.id}]" %>
    <%= label_tag "user[#{user.id}]", user.name %><br/>
  <% end %>
  <%= submit_tag "Schedule Meeting" %>
</div>
--->
