<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email%>
  <%= f.text_field :email%>
</p>
<p>
  <%= f.label :department %>
  <%= f.text_field :department %>
</p>
<p>
  <%= f.label :title %>
  <%= f.select :title , User::USER_TYPES %>
</p>
