<div class="header">
  <%= image_tag "logo.png", :class => 'header-logo' %>
  <span id='login'><%= link_to "Login", dashboard_path %></span>
  <ul id="home-nav">
    <li><%= link_to "FEATURES" %></li>
    <li><%= link_to "PRICES AND PLANS" %></li>
    <li><%= link_to "TOUR" %></li>
    <li><%= link_to "SUPPORT" %></li>
  </ul>
  <div class="clear"></div>
</div>
<!---
<div class="content">
  <h2>What can we do you for you?</h2>
  <h3>Efficient project management increases your productivity!</h3>
  <h3>Increase visibilty of internal operations</h3>
  <h3>Provide a real-time view your organization</h3>
  <h3></h3>
</div>
-->
