<span class="lime-green-header"><%= @project.name %></span>

<table id="overview-details">
  <tr><td class="label-header">Project Owner</td><td> <%= @project.owner.name %></td></tr>
  <tr><td class="label-header">Status</td><td><%= @project.status %></td></tr>
  <tr><td class="label-header">Created</td><td><%= fmt_us(@project.created_at) %></td></tr>
</table>
<div class="clear"></div>

<div id="overview-actions">
  <ul>
    <li><%= button_to "+ Add a task", tasks_project_path(@project), :method => :get %></li>
    <li><%= button_to "+ Add a person", new_user_path %></li>
    <li><%= button_to "+ Upload a file", new_user_path %></li>
  </ul>
</div>


<div class="clear"></div>
<div class="overview-subcontext">
  <h2>Recent Tasks</h2><br/>
  <% @project.tasks.each do |task| %>
    <%= task.name %><br/>
  <% end %>
</div>

<div class="overview-subcontext">
  <h2>Recent People</h2><br/>
  <% @project.users.each do |user| %>
    <%= user.name %><br/>
  <% end %>
</div>

<div class="overview-subcontext">
  <h2>Recent Comments</h2><br/>
  <% @project.users.each do |user| %>
    <%= user.name %><br/>
  <% end %>
</div>
