<div class="lime-green-header">Projects</div>
  <%= link_to image_tag("/images/add_project.png"), new_project_path, :class => "floatR" %>
<span class="submenu-links"><%= link_to "Summary View", projects_path%> | <%= link_to "Detailed View", detailed_view_projects_path %></span>
<div class="clear"></div>
<table class="compact-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Personel</th>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <% for project in @projects %>
      <tr class="<%= cycle("even","odd")%>">
        <td>
          <%= link_to "+", project_path(project), :remote => true %>
          <%= link_to "goto", project_path(project) %>
        </td>
        <td>
          <%= project.name %>
          <%= link_to "edit", edit_project_path(project) %>
        </td>
        <td>
          <%= project.status %>
        </td>
        <td>
          <%= project.owner.name %>
        </td>
        <td>
          <%= project.users.count %>
        </td>
      </tr>
      <tr class="hidden hidden-<%= project.id %>">
        <td colspan="5">
          <div class="project-details" id="project-details-<%= project.id %>"></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
