<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :owner_id, "Project Owner" %>
  <%= f.select :owner_id, options_from_collection_for_select(@users,"id","name") %>
</p>
<p>
  <%= f.label :status %>
  <%= f.select :status, Project::STATUS %>
</p>

<p>
  <h1>Add Personel</h1>
  <%= select_tag @users, options_from_collection_for_select(@users,"id","name") %>
</p>
