<div class="project-info">
  <h2 class="green-header"><%= @project.name %></h2>
  <div class="project-description">
    <%= @project.description %>
  </div>
<div class="clear"></div>

<div class="employees">
<h3>Active Users</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @project.owner.name %></td>
        <td>Project Owner </td>
      </tr>
      </tr>
      <% for user in @project.users %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.department %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clear"></div>
<%= link_to "Make Changes", edit_project_path(@project) %>
</div>
