<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Status</th>
      <th>Project Owner</th>
      <th>Employees</th>
      <th>Hours Accrued</th>
    </tr>
  </thead>
<% for project in @projects %>
  <tr>
    <td>
      <%= project.name %>
    </td>
    <td>
      <%= project.status %>
    </td>
    <td>
      <%= rand(3)+1 %>
    </td>
    <td>
      <%= rand(100)+1 %>
    </td>
    <td>
      <%= link_to "details" %>
    </td>
  </tr>
<% end %>
</table>
