<%= javascript_include_tag 'app/project_details' %>
<%= stylesheet_link_tag 'rest/projects.css' %>

<div id="projects-container">
    <h1 class='lime-green-header'><%= @project.name %></h1>

    <div id="mini-nav">
      <ul class="quick-links">
        <li><%= link_to "Overview", project_path(@project), :remote => true %></li>
        <li><%= link_to "People", people_project_path(@project), :remote => true %></li>
        <li><a href="#tasks">Tasks</a></li>
        <li><a href="#statuses">Status Updates</a></li>
        <li><a href="#files">Files</a></li>
      </ul>
    </div>
    <div id="project-contents">
      <%= render :partial => 'overview' %>
    </div>
</div>
