<!DOCTYPE html>
<html>
  <head>
    <title>PlusTask</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag 'plugins/jquery.simplemodal.1.4.min.js' %>
    <%= javascript_include_tag 'plugins/ba-bbq.jquery.js' %>
    <%= javascript_include_tag 'app/lightbox2.js' %>
    <%= csrf_meta_tag %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div id="header-container">
      <div id="top-header">
        <div class="floatL" id="company-header">
          <%= link_to current_user.try(:company).try(:name), dashboard_path %> 
          <span class="lime-green-header"><%= @page_title %></span>
        </div>

        <div class="floatR"> 
         Welcome, <%= current_user.name %>!&nbsp;  <%= link_to "Settings", "" %> | &nbsp;<%= link_to "Logout", destroy_user_session_path %>
        </div>
        <div style="height: 0px;float:right">
          <%= image_tag("new-logo.png") %>
        </div>

        <div id="nav-container">
          <%= render :partial => 'layouts/header/navigation' %>
        </div>
        <div class="clear"></div>

      </div>
    </div>
    <div id="body">
      <div id="content">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end -%>

        <%= yield %>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
