<!DOCTYPE html>
<html>
  <head>
    <title>Manageme</title>
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag "css/redmond/jquery-ui-1.8.7.custom.css" %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      jQuery.noConflict();
    </script>
  </head>
  <body>
    <div id="top-header">
      <div class="floatL"><%= link_to "Go to Dashboard", dashboard_path %></div>

      <div class="floatL" id="company-header">
        <%= current_user.company %> 
      <span class="lime-green-header"><%= @project.try(:name) %></span>
      </div>

      <div class="floatR"> 
        <%= current_user.name %>&nbsp; | <%= link_to "Settings", "" %> | &nbsp;<%= link_to "Logout", destroy_user_session_path %>
      </div>
    </div>
    <div id="body">
      <div id="nav-container">
        <%#= render :partial => 'layouts/header/navigation' %>
      </div>
      <div id="content">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end -%>

        <%= yield %>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
